<div class="covid" style="margin-top:20px; margin-bottom:20px;">
<!-- 	<strong style="font-size: 16px;">The next beginners class will start on Monday, February 16, 2026. Enrollment will be allowed through Thursday, February 19.</strong><br>  Email <a href="mailto:info@sfkendo.org?subject=San%20Francisco%20Kendo%20Dojo">info@sfkendo.org</a> to be added to the list to receive any announcements about the class.<br>Note: the next opportunity to join after this will be in Summer 2026. -->
	<strong style="font-size: 16px;">The next open enrollment period for beginners will be in Summer 2026.  Please email <a href="mailto:info@sfkendo.org?subject=San%20Francisco%20Kendo%20Dojo">info@sfkendo.org</a> to express interest and be notified when an exact date has been set.</strong>
</div>
